body {
  background-color: #6C7099;
}

#topBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 8%;
  background-color: white;
}

#menu {
  margin-left: 30%;
  padding-top: 1%;
}

label {
  margin-right: 20%;
  cursor: pointer;
}

#botBar {
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 15%;
  background-color: white;
}

#form {
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 100px;
  border-radius: 10px;
  margin-left: 28%;
  width: 600px;
  height: 400px;
  background-color: white;
}

form {
  padding-top: 50px;
  position: flex;
}

#cancelar{
  margin-right: 0%;
  width: 100px;
  border: none;
  background-color: #A0A5D6;
}

form button[type="submit"]{
  border: none;
  width: 100px;
  margin-left: 300px;
  background-color: #4E58BE;
}

input[type="email"] {
  width: 500px;
}

input[type="password"] {
  width: 245px;
}

input[type="date"] {
  width: 160px;
}

#row {
  margin-right: 10px;
}

form input[type="text"] {
  width: 500px;
}

form div input[type="text"] {
  margin-left: 3px;
  margin-right: 3px;
  width: 166px;
}

#logo {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: gray;
}